<template name="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            {{#if currentUser}}
                {{> conLogin}}
            {{ else}}
                {{> sinLogin}}
            {{/if}}
        </div>
    </nav>
    <div class="row">
        {{> LoginModal}}
    </div>
</template>

<template name="sinLogin">
    <a class="navbar-brand" href="#"><h3 class="tittle-navbar">MIMIR: Servicio de tutorias</h3></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item login-toggle">
                <a class="nav-text nav-link" href="#">Login</a>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</template>

<template name="conLogin">
    <a class="navbar-brand" href="#"><h3 class="tittle-navbar">MIMIR: Servicio de tutorias</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-text nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="#">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-text nav-link" href="#">Solicitudes</a>
            </li>
            <li class="nav-item">
                <a class="nav-text nav-link" href="#">Configuracion </a>
            </li>
            <li class="nav-item logout">
                <a class="nav-text nav-link" href="#">Salir </a>
            </li>
        </ul>
    </div>
</template>

<template name="LoginModal">
{{#if $not currentUser}}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{> atForm}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--<div class=" modal login-modal {{Session.get 'nav-toggle'}}">
    <button class="btn close-login">Close</button>-->

</div>
{{/if}}
</template>